.gallery {
  height: 120vh;
  .imageContainer {
    width: 100%;
    height: 100%;
    position: relative;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .vignette {
    height: 30vw;
    width: 25vw;
    position: fixed;
    top: 0;
    border-radius: 1.5vw;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}